<!DOCTYPE html>
<html>
   <head>
      <title>SharedMoments</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="UTF-8">
      <link rel="icon" type="image/png" sizes="192x192" href="/static/pwa/sm-icon-192.png">
      <link rel="apple-touch-icon" href="/static/pwa/sm-icon-192.png">
      <link href="https://cdn.jsdelivr.net/npm/beercss@3.6.13/dist/cdn/beer.min.css" rel="stylesheet">
      <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.6.13/dist/cdn/beer.min.js"></script>
      <script type="module" src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>
   </head>
   <body>
      <main class="responsive" style="max-width: 500px; margin: 0 auto; padding-top: 15vh;">
         <article class="primary-container" style="text-align: center;">
            <svg xmlns="http://www.w3.org/2000/svg" height="64" viewBox="0 -960 960 960" width="64" fill="currentColor"><path d="M770-302 664-408l42-42q17-17 42.5-17t42.5 17l44 44q17 17 17 42.5T835-321l-65 19ZM642-430 536-536l84-84-42-42-84 84L388-684l114-116q23-23 51.5-35t58.5-12q30 0 59 12t52 35l44 44q23 23 34.5 52t11.5 59q0 30-12 58.5T766-536l-124 106ZM452-164q-23 23-51.5 35.5T342-116q-30 0-59-12t-52-35l-44-44q-23-23-35-52t-12-59q0-30 12-58.5T187-426l124-124 106 106-84 84 42 42 84-84 106 106-113 132ZM80-80v-150l108-108L82-444l57-57 390 390-57 57-106-106L258-80H80Z"/></svg>
            <h5>SharedMoments</h5>
            <p>This share link has expired and is no longer available.</p>
         </article>
      </main>
   </body>
</html>
